/* Borders */

.borders {
  &.top {
    &.one {
      border-top: 1px solid $black;
    }
    &.two {
      border-top: 2px solid $black;
    }
    &.three {
      border-top: 3px solid $black;
    }
  }
  &.bottom {
    &.one {
      border-bottom: 1px solid $black;
    }
    &.two {
      border-bottom: 2px solid $black;
    }
    &.three {
      border-bottom: 3px solid $black;
    }
  }
}


.borders-white {
  &.top {
    &.one {
      border-top: 1px solid $white;
    }
    &.two {
      border-top: 2px solid $white;
    }
    &.three {
      border-top: 3px solid $white;
    }
  }
  &.bottom {
    &.one {
      border-bottom: 1px solid $white;
    }
    &.two {
      border-bottom: 2px solid $white;
    }
    &.three {
      border-bottom: 3px solid $white;
    }
  }
}
