/* Forms */

.field-group {
  display: block;
 // @include span(first 12 of 12);
  margin-bottom: 1em;

  &.left {
   // @include span(first 6 of 12);
  }
  &.right {
  //  @include span(6 of 12 last);
  }
}

form {

  fieldset {

    border: 1px solid $light-grey;
    padding: 1em;

    legend {
      color: $grey;;
      text-align: left;
      font-style: italic;
    }
  }
  p.description {
  }
  @include placeholder {
		color: $dark-grey;
	}
  label {
    display: block;
    &.inline {
      float: left;
      line-height: 1;
      margin:0 0.5em;
    }
    &.hidden {
      display: none;
    }
    &.error {
      background: $message-red-light;
      border: 1px solid $message-red-dark;
      color: $message-red-dark;
      padding: $base-padding*0.5;
      text-align: left;
    }
  }
  input {
    display: block;
    font-size: $base-font-size;

    &.disabled {
      opacity: 0.5;
    }

    &[type='text'],
    &[type='email'],
    &[type='password'] {
        width: 100%;
        border: 1px solid $grey;
        background: $light-grey;
        display: block;
        padding: 0.5em;
        margin-bottom: 1em;
        box-sizing: border-box;
    }
    &[type=checkbox],
		&[type=radio] {
      @include appearance;
      outline: none;
      @include box-shadow(0, 0, 0, 0, transparent);
			width: auto;
			margin: 0;
			padding: 0;
			width: 1.25em;
			height: 1.25em;
			float: left;
			background: $light-grey;
			border: 1px solid $light-grey;

      &.large {
        width: 2.25em;
        height: 2.25em;
      }
		}
		&[type=radio] {
			@include border-radius(50%);
		}
		&[type=checkbox]:checked {
			background: $light-grey url(../img/tick.svg) no-repeat center center;
			@include background-size(auto, 80%);
		}
		&[type=radio]:checked {
			background: $grey;
			border: 5px solid $light-grey;
		}
    &[type='submit'],
    &[type='button'],
    &[type='reset'] {
      background: $grey;
      color: $white;
      border: 1px solid $grey;
      display: block;
      padding: 0.5em;
      width: 100%;
      /* Animations */
      transition: background 0.5s ease;
      &:hover {
        background: $white;
        color: $grey;
      }
    }
  }

  textarea {
    font-size: $base-font-size;
    @include appearance;
    outline: none;
    @include box-shadow(0, 0, 0, 0, transparent);
    border: 1px solid $grey;
    background: $light-grey;
    padding: 0.5em;
    height: 8em;
    width: 100%;
    @include border-radius(0);
    box-sizing: border-box;
    &.disabled {
      opacity: 0.5;
    }
  }

  select {
    font-size: $base-font-size;
  	@include appearance;
  	@include border-radius(0);
  	@include box-shadow(0, 0, 0, 0, transparent);
  	outline: none;
  	background: $light-grey url(../img/select-arrow.svg) no-repeat right center;
  	// @include background-size(auto, 25%);
    width: 100%;
    border: 1px solid $grey;
    color: $dark-grey;
    display: block;
    padding: 1em;
    margin-bottom: 1em;
    &.disabled {
      opacity: 0.5;
    }
  }
	select::-ms-expand {
		display: none;
	}
}
