/* quotes */

blockquote {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-style: italic;
  background: $light-grey;
  padding: 2em;
  margin: 1em 0;
}

q {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-style: italic;

  quotes: "“" "”" "‘" "’";

  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }
}
