/* Typeography */

  body {
    font-family: $primary-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
  }

  h1.heading-1, 
  h2.heading-2, 
  h3.heading-3, 
  h4.heading-4, 
  h5.heading-5, 
  h6.heading-6  {
    font-family: $secondry-font;
    &.clear-margin{
      margin: 0;
    }
    &.underline {
      border-bottom: 1px solid $black;
      line-height: 1;
      padding-bottom: $base-padding*0.7;
      margin-bottom: $base-margin*0.7;
    }
  }
  blockquote {
    font-size: $base-font-size*1.3;
    margin-bottom: $base-margin;
    color: $grey;
    font-style: italic;
  }
  em {
    font-style: italic;
  }
  p, figcaption {
    font-size: $base-font-size;
    margin-bottom: $base-margin;
    color: $grey;
    &.medium {
      font-size: $base-font-size*1.2;
    }
    &.first {
      font-size: $base-font-size*1.5;
    }
  }
  strong {
    font-weight: bold;
  }
  .cta {
    font-family: $secondry-font;
  }
  figcaption {
    font-style: italic;
  }

  h1.heading-1, 
  h2.heading-2, 
  h3.heading-3, 
  h4.heading-4, 
  h5.heading-5, 
  h6.heading-6  {
    margin-bottom: $base-margin*0.5;
  }

  h1.heading-1 {
    font-size: $base-font-size*3.5;
    line-height: $base-line-height*0.75;
  }

  h2.heading-2 {
    font-size: $base-font-size*2.0;
    line-height: $base-line-height*0.75;
  }

  h3.heading-3 {
    font-size: $base-font-size*1.5;
  }

  h4.heading-4 {
    font-size: $base-font-size*1.3;
  }

  h5.heading-5 {
    font-size: $base-font-size*1.1;
    font-weight: bold;
  }

  h6.heading-6 {
    font-size: $base-font-size*1.25;
    font-weight: bold;
  }