/* Colours */


/* Base */

$black:                           #000000;
$white:                           #FFFFFF;
$dark-grey:                       #2a2c2b;
$grey:                            #999999;
$light-grey:                      #f4f4f4;
$red:                             #de151a;

/* Alert */

$message-red-light:               #f2dede;
$message-red-dark:                #a94442;

$message-green-light:             #dff0d8;
$message-green-dark:              #3c763d;

$message-yellow-light:            #fcf8e3;
$message-yellow-dark:             #8a6d3b;

/* Social */

$twitter-blue:                    #00aced;

/* Trans */

$trans-black:                     rgba(0, 0, 0, 0.6);
$trans-black-light:               rgba(0, 0, 0, 0.2);

$trans-white:                     rgba(255, 255, 255, 0.5);
$trans-white-light:               rgba(255, 255, 255, 0.1);
